<div class = "container" >
  <table class = "balance-sheet col-12" >
    <caption class = "balance-sheet-title caption-top" >Бухгалтерский баланс</caption >
    <thead >
    <tr >
      <th class = "type-active col-2 upper" >Актив</th >
      <th class = "description-prop col-5" >Наименование показателя</th >
      <th class = "code col-1" >Код</th >
      <th class = "current-rate col-2" >На 31.03.2021</th >
      <th class = "prev-rate col-2" >На 31.12.2020</th >
    </tr >
    </thead >
    <tbody [formGroup] = "finForms" >
    <tr formGroupName = "balanceForm" >
      <td class = "type-active text-bold" rowspan = "10" >Внеоборотные активы</td >
      <td class = "description-prop text" >Нематериальные активы</td >
      <td class = "code text-center text bg" >1110</td >
      <td class = "current-rate text" formGroupName = "currentFixedAssets" >
        <input type = "text" appHoverField formControlName = "code1110" >
      </td >
      <td class = "prev-rate text" formGroupName = "previousFixedAssets" >
        <input type = "text" appHoverField formControlName = "c1110" >
      </td >
    </tr >
    <tr formGroupName = "balanceForm" >
      <td class = "description-prop text" >Результаты исследований и разработок</td >
      <td class = "code text bg" >1120</td >
      <td class = "current-rate text" formGroupName = "currentFixedAssets" >
        <input type = "text" appHoverField formControlName = "code1120" >
      </td >
      <td class = "prev-rate text" formGroupName = "previousFixedAssets" >
        <input type = "text" appHoverField formControlName = "c1120" >
      </td >
    </tr >
    <tr formGroupName = "balanceForm" >
      <td class = "description-prop text" >Нематериальные поисковые активы</td >
      <td class = "code text bg" >1130</td >
      <td class = "current-rate text" formGroupName = "currentFixedAssets" >
        <input type = "text" appHoverField formControlName = "code1130" >
      </td >
      <td class = "prev-rate text" formGroupName = "previousFixedAssets" >
        <input type = "text" appHoverField formControlName = "c1130" >
      </td >
    </tr >
    <tr formGroupName = "balanceForm" >
      <td class = "description-prop text" >Материальные поисковые активы</td >
      <td class = "code text bg" >1140</td >
      <td class = "current-rate text" formGroupName = "currentFixedAssets" >
        <input type = "text" appHoverField formControlName = "code1140" >
      </td >
      <td class = "prev-rate text" formGroupName = "previousFixedAssets" >
        <input type = "text" appHoverField formControlName = "c1140" >
      </td >
    </tr >
    <tr formGroupName = "balanceForm" >
      <td class = "description-prop text" >Основные средства</td >
      <td class = "code text bg" >1150</td >
      <td class = "current-rate text" formGroupName = "currentFixedAssets" >
        <input type = "text" appHoverField formControlName = "code1150" >
      </td >
      <td class = "prev-rate text" formGroupName = "previousFixedAssets" >
        <input type = "text" appHoverField formControlName = "c1150" >
      </td >
    </tr >
    <tr formGroupName = "balanceForm" >
      <td class = "description-prop text" >Доходные вложения в материальные ценности</td >
      <td class = "code text bg" >1160</td >
      <td class = "current-rate text" formGroupName = "currentFixedAssets" >
        <input type = "text" appHoverField formControlName = "code1160" >
      </td >
      <td class = "prev-rate text" formGroupName = "previousFixedAssets" >
        <input type = "text" appHoverField formControlName = "c1160" >
      </td >
    </tr >
    <tr formGroupName = "balanceForm" >
      <td class = "description-prop text" >Финансовые вложения</td >
      <td class = "code text bg" >1170</td >
      <td class = "current-rate text" formGroupName = "currentFixedAssets" >
        <input type = "text" appHoverField formControlName = "code1170" >
      </td >
      <td class = "prev-rate text" formGroupName = "previousFixedAssets" >
        <input type = "text" appHoverField formControlName = "c1170" >
      </td >
    </tr >
    <tr formGroupName = "balanceForm" >
      <td class = "description-prop text" >Отложенные налоговые активы</td >
      <td class = "code text bg" >1180</td >
      <td class = "current-rate text" formGroupName = "currentFixedAssets" >
        <input type = "text" appHoverField formControlName = "code1180" >
      </td >
      <td class = "prev-rate text" formGroupName = "previousFixedAssets" >
        <input type = "text" appHoverField formControlName = "c1180" >
      </td >
    </tr >
    <tr formGroupName = "balanceForm" >
      <td class = "description-prop text" >Прочие внеоборотные активы</td >
      <td class = "code text bg" >1190</td >
      <td class = "current-rate text" formGroupName = "currentFixedAssets" >
        <input type = "text" appHoverField formControlName = "code1190" >
      </td >
      <td class = "prev-rate text" formGroupName = "previousFixedAssets" >
        <input type = "text" appHoverField formControlName = "c1190" >
      </td >
    </tr >
    <tr >
      <td class = "description-prop text text-bold bg ital" >Итого по разделу I</td >
      <td class = "code text text-bold bg" >1100</td >
      <td class = "current-rate text text-bold bg" >
        {{summarizesResultSection( finForms.value.balanceForm.currentFixedAssets ) }}
      </td >
      <td class = "prev-rate text text-bold bg" >
        {{summarizesResultSection( finForms.value.balanceForm.previousFixedAssets ) }}

      </td >
    </tr >
    <tr formGroupName = "balanceForm" >
      <td class = "type-active text-bold" rowspan = "8" >Оборотные активы</td >
      <td class = "description-prop text" >Запасы</td >
      <td class = "code text-center text bg" >1210</td >
      <td class = "current-rate text" formGroupName = "currentAssets" >
        <input type = "text" appHoverField formControlName = "code1210" >
      </td >
      <td class = "prev-rate text" formGroupName = "previousAssets" >
        <input type = "text" appHoverField formControlName = "c1210" >
      </td >
    </tr >
    <tr formGroupName = "balanceForm" >
      <td class = "description-prop text" >Налог на добавленную стоимость по приобретенным ценностям</td >
      <td class = "code text bg" >1220</td >
      <td class = "current-rate text" formGroupName = "currentAssets" >
        <input type = "text" appHoverField formControlName = "code1220" >
      </td >
      <td class = "prev-rate text" formGroupName = "previousAssets" >
        <input type = "text" appHoverField formControlName = "c1220" >
      </td >
    </tr >
    <tr formGroupName = "balanceForm" >
      <td class = "description-prop text" >Дебиторская задолженность</td >
      <td class = "code text bg" >1230</td >
      <td class = "current-rate text" formGroupName = "currentAssets" >
        <input type = "text" appHoverField formControlName = "code1230" >
      </td >
      <td class = "prev-rate text" formGroupName = "previousAssets" >
        <input type = "text" appHoverField formControlName = "c1230" >
      </td >
    </tr >
    <tr formGroupName = "balanceForm" >
      <td class = "description-prop text" >Финансовые вложения(за исключением денежных эквивалентов)</td >
      <td class = "code text bg" >1240</td >
      <td class = "current-rate text" formGroupName = "currentAssets" >
        <input type = "text" appHoverField formControlName = "code1240" >
      </td >
      <td class = "prev-rate text" formGroupName = "previousAssets" >
        <input type = "text" appHoverField formControlName = "c1240" >
      </td >
    </tr >
    <tr formGroupName = "balanceForm" >
      <td class = "description-prop text" >Денежные средства и денежные эквиваленты</td >
      <td class = "code text bg" >1250</td >
      <td class = "current-rate text" formGroupName = "currentAssets" >
        <input type = "text" appHoverField formControlName = "code1250" >
      </td >
      <td class = "prev-rate text" formGroupName = "previousAssets" >
        <input type = "text" appHoverField formControlName = "c1250" >
      </td >
    </tr >
    <tr formGroupName = "balanceForm" >
      <td class = "description-prop text" >Прочие оборотные активы</td >
      <td class = "code text bg" >1260</td >
      <td class = "current-rate text" formGroupName = "currentAssets" >
        <input type = "text" appHoverField formControlName = "code1260" >
      </td >
      <td class = "prev-rate text" formGroupName = "previousAssets" >
        <input type = "text" appHoverField formControlName = "c1260" >
      </td >
    </tr >
    <tr >
      <td class = "description-prop text text-bold bg ital" >Итого по разделу II</td >
      <td class = "code text text-bold bg" >1200</td >
      <td class = "current-rate text text-bold bg" >
        {{summarizesResultSection( finForms.value.balanceForm.currentAssets ) }}

      </td >
      <td class = "prev-rate text text-bold bg" >
        {{summarizesResultSection( finForms.value.balanceForm.previousAssets ) }}
      </td >
    </tr >
    <tr >
      <td class = "description-prop text text-bold bg upper" >Баланс</td >
      <td class = "code text-center text text-bold bg" >1600</td >
      <td class = "current-rate text bg text-bold" >
        {{ summarizesResultSection( finForms.value.balanceForm.currentFixedAssets, finForms.value.balanceForm.currentAssets ) }}
      </td >
      <td class = "prev-rate text bg text-bold" >
        {{ summarizesResultSection( finForms.value.balanceForm.previousFixedAssets, finForms.value.balanceForm.previousAssets ) }}</td >
    </tr >
    </tbody >

    <thead >
    <tr >
      <th class = "type-active col-2 upper" >Пассив</th >
      <th class = "description-prop col-5" >Наименование показателя</th >
      <th class = "code col-1" >Код</th >
      <th class = "current-rate" >На 31.03.2021</th >
      <th class = "prev-rate" >На 31.12.2020</th >
    </tr >
    </thead >
    <tbody [formGroup] = "finForms" >
    <tr formGroupName = "balanceForm" >
      <td class = "type-active text-bold" rowspan = "7" >Капитал и резервы</td >
      <td class = "description-prop text" >Уставный капитал(складочный капитал, уставный фонд, вклады товарищей)</td >
      <td class = "code text-center text bg" >1310</td >
      <td class = "current-rate text" formGroupName = "currentCapitalReserves" >
        <input type = "text" appHoverField formControlName = "code1310" >
      </td >
      <td class = "prev-rate text" formGroupName = "previousCapitalReserves" >
        <input type = "text" appHoverField formControlName = "c1310" >
      </td >
    </tr >
    <tr formGroupName = "balanceForm" >
      <td class = "description-prop text" >Собственные акции, выкупленные у акционеров</td >
      <td class = "code text bg" >1320</td >
      <td class = "current-rate text" formGroupName = "currentCapitalReserves" >
        <input type = "text" appHoverField formControlName = "code1320" >
      </td >
      <td class = "prev-rate text" formGroupName = "previousCapitalReserves" >
        <input type = "text" appHoverField formControlName = "c1320" >
      </td >
    </tr >
    <tr formGroupName = "balanceForm" >
      <td class = "description-prop text" >Переоценка внеоборотных активов</td >
      <td class = "code text bg" >1340</td >
      <td class = "current-rate text" formGroupName = "currentCapitalReserves" >
        <input type = "text" appHoverField formControlName = "code1340" >
      </td >
      <td class = "prev-rate text" formGroupName = "previousCapitalReserves" >
        <input type = "text" appHoverField formControlName = "c1340" >
      </td >
    </tr >
    <tr formGroupName = "balanceForm" >
      <td class = "description-prop text" >Добавочный капитал(без переоценки)</td >
      <td class = "code text bg" >1350</td >
      <td class = "current-rate text" formGroupName = "currentCapitalReserves" >
        <input type = "text" appHoverField formControlName = "code1350" >
      </td >
      <td class = "prev-rate text" formGroupName = "previousCapitalReserves" >
        <input type = "text" appHoverField formControlName = "c1350" >
      </td >
    </tr >
    <tr formGroupName = "balanceForm" >
      <td class = "description-prop text" >Резервный капитал</td >
      <td class = "code text bg" >1360</td >
      <td class = "current-rate text" formGroupName = "currentCapitalReserves" >
        <input type = "text" appHoverField formControlName = "code1360" >
      </td >
      <td class = "prev-rate text" formGroupName = "previousCapitalReserves" >
        <input type = "text" appHoverField formControlName = "c1360" >
      </td >
    </tr >
    <tr formGroupName = "balanceForm" >
      <td class = "description-prop text" >Нераспределенная прибыль(непокрытый убыток)</td >
      <td class = "code text bg" >1370</td >
      <td class = "current-rate text" formGroupName = "currentCapitalReserves" >
        <input type = "text" appHoverField formControlName = "code1370" >
      </td >
      <td class = "prev-rate text" formGroupName = "previousCapitalReserves" >
        <input type = "text" appHoverField formControlName = "c1370" >
      </td >
    </tr >
    <tr >
      <td class = "description-prop text text-bold ital bg" >Итого по разделу III</td >
      <td class = "code text text-bold bg" >1300</td >
      <td class = "current-rate text text-bold bg" >
        {{summarizesResultSection( finForms.value.balanceForm.currentCapitalReserves ) }}

      </td >
      <td class = "prev-rate text text-bold bg" >
        {{summarizesResultSection( finForms.value.balanceForm.previousCapitalReserves ) }}
      </td >
    </tr >
    <tr formGroupName = "balanceForm" >
      <td class = "type-active text-bold" rowspan = "5" >Долгосрочные обязательства</td >
      <td class = "description-prop text" >Заемные средства</td >
      <td class = "code text-center text bg" >1410</td >
      <td class = "current-rate text" formGroupName = "currentLongTermDuties" >
        <input type = "text" appHoverField formControlName = "code1410" >
      </td >
      <td class = "prev-rate text" formGroupName = "previousLongTermDuties" >
        <input type = "text" appHoverField formControlName = "c1410" >
      </td >
    </tr >
    <tr formGroupName = "balanceForm" >
      <td class = "description-prop text" >Отложенные налоговые обязательства</td >
      <td class = "code text bg" >1420</td >
      <td class = "current-rate text" formGroupName = "currentLongTermDuties" >
        <input type = "text" appHoverField formControlName = "code1420" >
      </td >
      <td class = "prev-rate text" formGroupName = "previousLongTermDuties" >
        <input type = "text" appHoverField formControlName = "c1420" >
      </td >
    </tr >
    <tr formGroupName = "balanceForm" >
      <td class = "description-prop text" >Оценочные обязательства</td >
      <td class = "code text bg" >1430</td >
      <td class = "current-rate text" formGroupName = "currentLongTermDuties" >
        <input type = "text" appHoverField formControlName = "code1430" >
      </td >
      <td class = "prev-rate text" formGroupName = "previousLongTermDuties" >
        <input type = "text" appHoverField formControlName = "c1430" >
      </td >
    </tr >
    <tr formGroupName = "balanceForm" >
      <td class = "description-prop text" >Прочие обязательства</td >
      <td class = "code text bg" >1450</td >
      <td class = "current-rate text" formGroupName = "currentLongTermDuties" >
        <input type = "text" appHoverField formControlName = "code1450" >
      </td >
      <td class = "prev-rate text" formGroupName = "previousLongTermDuties" >
        <input type = "text" appHoverField formControlName = "c1450" >
      </td >
    </tr >
    <tr >
      <td class = "description-prop text text-bold ital bg" >Итого по разделу IV</td >
      <td class = "code text text-bold bg" >1400</td >
      <td class = "current-rate text text-bold bg" >
        {{summarizesResultSection( finForms.value.balanceForm.currentLongTermDuties ) }}
      </td >
      <td class = "prev-rate text text-bold bg" >
        {{summarizesResultSection( finForms.value.balanceForm.previousLongTermDuties ) }}
      </td >
    </tr >
    <tr formGroupName = "balanceForm" >
      <td class = "type-active text-bold" rowspan = "7" >Краткосрочные обязательства</td >
      <td class = "description-prop text" >Заемные средства</td >
      <td class = "code text-center text bg" >1510</td >
      <td class = "current-rate text" formGroupName = "currentShortTermLiabilities" >
        <input type = "text" appHoverField formControlName = "code1510" >
      </td >
      <td class = "prev-rate text" formGroupName = "previousShortTermLiabilities" >
        <input type = "text" appHoverField formControlName = "c1510" >
      </td >
    </tr >
    <tr formGroupName = "balanceForm" >
      <td class = "description-prop text" >Кредиторская задолженность</td >
      <td class = "code text bg" >1520</td >
      <td class = "current-rate text" formGroupName = "currentShortTermLiabilities" >
        <input type = "text" appHoverField formControlName = "code1520" >
      </td >
      <td class = "prev-rate text" formGroupName = "previousShortTermLiabilities" >
        <input type = "text" appHoverField formControlName = "c1520" >
      </td >
    </tr >
    <tr formGroupName = "balanceForm" >
      <td class = "description-prop text" >Доходы будущих периодов</td >
      <td class = "code text bg" >1530</td >
      <td class = "current-rate text" formGroupName = "currentShortTermLiabilities" >
        <input type = "text" appHoverField formControlName = "code1530" >
      </td >
      <td class = "prev-rate text" formGroupName = "previousShortTermLiabilities" >
        <input type = "text" appHoverField formControlName = "c1530" >
      </td >
    </tr >
    <tr formGroupName = "balanceForm" >
      <td class = "description-prop text" >Оценочные обязательства</td >
      <td class = "code text bg" >1540</td >
      <td class = "current-rate text" formGroupName = "currentShortTermLiabilities" >
        <input type = "text" appHoverField formControlName = "code1540" >
      </td >
      <td class = "prev-rate text" formGroupName = "previousShortTermLiabilities" >
        <input type = "text" appHoverField formControlName = "c1540" >
      </td >
    </tr >
    <tr formGroupName = "balanceForm" >
      <td class = "description-prop text" >Прочие обязательства</td >
      <td class = "code text bg" >1550</td >
      <td class = "current-rate text" formGroupName = "currentShortTermLiabilities" >
        <input type = "text" appHoverField formControlName = "code1550" >
      </td >
      <td class = "prev-rate text" formGroupName = "previousShortTermLiabilities" >
        <input type = "text" appHoverField formControlName = "c1550" >
      </td >
    </tr >
    <tr >
      <td class = "description-prop text text-bold ital bg" >Итого по разделу V</td >
      <td class = "code text text-bold bg" >1500</td >
      <td class = "current-rate text text-bold bg" >
        {{ summarizesResultSection( finForms.value.balanceForm.currentShortTermLiabilities ) }}
      </td >
      <td class = "prev-rate text text-bold bg" >
        {{ summarizesResultSection( finForms.value.balanceForm.previousShortTermLiabilities ) }}
      </td >
    </tr >
    <tr >
      <td class = "description-prop text text-bold bg upper" >Баланс</td >
      <td class = "code text-center text text-bold bg" >1700</td >
      <td class = "current-rate text bg text-bold" >
        {{ summarizesResultSection( finForms.value.balanceForm.currentCapitalReserves,
        finForms.value.balanceForm.currentLongTermDuties, finForms.value.balanceForm.currentShortTermLiabilities ) }}
      </td >
      <td class = "prev-rate text bg text-bold" >
        {{ summarizesResultSection( finForms.value.balanceForm.previousCapitalReserves,
        finForms.value.balanceForm.previousLongTermDuties, finForms.value.balanceForm.previousShortTermLiabilities ) }}
      </td >
    </tr >
    </tbody >
  </table >

  <table class = "income-statement col-12" >
    <caption class = "income-statement-title caption-top" >Отчет о прибылях и убытках</caption >
    <thead >
    <tr >
      <th class = "type-active col-2 upper" ></th >
      <th class = "description-prop col-5" >Наименование показателя</th >
      <th class = "code col-1" >Код</th >
      <th class = "current-rate col-2" >На 31.03.2021</th >
      <th class = "prev-rate col-2" >На 31.12.2020</th >
    </tr >
    </thead >
    <tbody [formGroup] = "finForms" >
    <tr formGroupName = "profitStatement" >
      <td rowspan = "18" ></td >
      <td class = "description-prop text" >Выручка</td >
      <td class = "code text bg" >2110</td >
      <td class = "current-rate text" formGroupName = "currentGrossProfit" >
        <input type = "text" appHoverField formControlName = "code2110" >
      </td >
      <td class = "prev-rate text" formGroupName = "previousGrossProfit" >
        <input type = "text" appHoverField formControlName = "c2110" >
      </td >
    </tr >
    <tr formGroupName = "profitStatement" >
      <td class = "description-prop text" >Себестоимость продаж</td >
      <td class = "code text bg" >2120</td >
      <td class = "current-rate text" formGroupName = "currentGrossProfit" >
        <input type = "text" appHoverField formControlName = "code2120" >
      </td >
      <td class = "prev-rate text" formGroupName = "previousGrossProfit" >
        <input type = "text" appHoverField formControlName = "c2120" >
      </td >
    </tr >
    <tr >
      <td class = "description-prop text text-bold ital bg" >Валовая прибыль(убыток)</td >
      <td class = "code text text-bold bg" >2100</td >
      <td class = "current-rate text text-bold bg" >
        {{ summarizesResultSection( finForms.value.profitStatement.currentGrossProfit ) }}</td >
      <td class = "prev-rate text text-bold bg" >
         {{ summarizesResultSection( finForms.value.profitStatement.previousGrossProfit ) }}
      </td >
    </tr >
    <tr formGroupName = "profitStatement" >
      <td class = "description-prop text" >Коммерческие расходы</td >
      <td class = "code text bg" >2210</td >
      <td class = "current-rate text" formGroupName = "currentSalesRevenue" >
        <input type = "text" appHoverField formControlName = "code2210" >
      </td >
      <td class = "prev-rate text" formGroupName = "previousSalesRevenue" >
        <input type = "text" appHoverField formControlName = "c2210" >
      </td >
    </tr >
    <tr formGroupName = "profitStatement" >
      <td class = "description-prop text" >Управленческие расходы</td >
      <td class = "code text bg" >2220</td >
      <td class = "current-rate text" formGroupName = "currentSalesRevenue" >
        <input type = "text" appHoverField formControlName = "code2220" >
      </td >
      <td class = "prev-rate text" formGroupName = "previousSalesRevenue" >
        <input type = "text" appHoverField formControlName = "c2220" >
      </td >
    </tr >
    <tr >
      <td class = "description-prop text text-bold ital bg" >Прибыль(убыток) от продаж</td >
      <td class = "code text text-bold bg" >2200</td >
      <td class = "current-rate text text-bold bg" >
        {{ summarizesResultSection( finForms.value.profitStatement.currentGrossProfit, finForms.value.profitStatement.currentSalesRevenue ) }}
      </td >
      <td class = "prev-rate text text-bold bg" >
        {{ summarizesResultSection( finForms.value.profitStatement.previousGrossProfit, finForms.value.profitStatement.previousSalesRevenue ) }}
      </td >
    </tr >
    <tr formGroupName = "profitStatement" >
      <td class = "description-prop text" >Доходы от участия в других организациях</td >
      <td class = "code text bg" >2310</td >
      <td class = "current-rate text" formGroupName = "currentProfitBeforeTax" >
        <input type = "text" appHoverField formControlName = "code2310" >
      </td >
      <td class = "prev-rate text" formGroupName = "previousProfitBeforeTax" >
        <input type = "text" appHoverField formControlName = "c2310" >
      </td >
    </tr >
    <tr formGroupName = "profitStatement" >
      <td class = "description-prop text" >Проценты к получению</td >
      <td class = "code text bg" >2320</td >
      <td class = "current-rate text" formGroupName = "currentProfitBeforeTax" >
        <input type = "text" appHoverField formControlName = "code2320" >
      </td >
      <td class = "prev-rate text" formGroupName = "previousProfitBeforeTax" >
        <input type = "text" appHoverField formControlName = "c2320" >
      </td >
    </tr >
    <tr formGroupName = "profitStatement" >
      <td class = "description-prop text" >Проценты к уплате</td >
      <td class = "code text bg" >2330</td >
      <td class = "current-rate text" formGroupName = "currentProfitBeforeTax" >
        <input type = "text" appHoverField formControlName = "code2330" >
      </td >
      <td class = "prev-rate text" formGroupName = "previousProfitBeforeTax" >
        <input type = "text" appHoverField formControlName = "c2330" >
      </td >
    </tr >
    <tr formGroupName = "profitStatement" >
      <td class = "description-prop text" >Прочие доходы</td >
      <td class = "code text bg" >2340</td >
      <td class = "current-rate text" formGroupName = "currentProfitBeforeTax" >
        <input type = "text" appHoverField formControlName = "code2340" >
      </td >
      <td class = "prev-rate text" formGroupName = "previousProfitBeforeTax" >
        <input type = "text" appHoverField formControlName = "c2340" >
      </td >
    </tr >
    <tr formGroupName = "profitStatement" >
      <td class = "description-prop text" >Прочие расходы</td >
      <td class = "code text bg" >2350</td >
      <td class = "current-rate text" formGroupName = "currentProfitBeforeTax" >
        <input type = "text" appHoverField formControlName = "code2350" >
      </td >
      <td class = "prev-rate text" formGroupName = "previousProfitBeforeTax" >
        <input type = "text" appHoverField formControlName = "c2350" >
      </td >
    </tr >
    <tr >
      <td class = "description-prop text text-bold ital bg" >Прибыль(убыток) до налогообложения</td >
      <td class = "code text text-bold bg" >2300</td >
      <td class = "current-rate text text-bold bg" >
        {{ summarizesResultSection( finForms.value.profitStatement.currentGrossProfit,
        finForms.value.profitStatement.currentSalesRevenue, finForms.value.profitStatement.currentProfitBeforeTax ) }}
      </td >
      <td class = "prev-rate text text-bold bg" >
        {{ summarizesResultSection( finForms.value.profitStatement.previousGrossProfit,
        finForms.value.profitStatement.previousSalesRevenue, finForms.value.profitStatement.previousProfitBeforeTax ) }}
      </td >
    </tr >
    <tr formGroupName = "profitStatement" >
      <td class = "description-prop text" >Текущий налог на прибыль</td >
      <td class = "code text bg" >2410</td >
      <td class = "current-rate text" formGroupName = "currentNetIncome" >
        <input type = "text" appHoverField formControlName = "code2410" >
      </td >
      <td class = "prev-rate text" formGroupName = "previousNetIncome" >
        <input type = "text" appHoverField formControlName = "c2410" >
      </td >
    </tr >
    <tr formGroupName = "profitStatement" >
      <td class = "description-prop text" >Изменение отложенных налоговых обязательств</td >
      <td class = "code text bg" >2430</td >
      <td class = "current-rate text" formGroupName = "currentNetIncome" >
        <input type = "text" appHoverField formControlName = "code2430" >
      </td >
      <td class = "prev-rate text" formGroupName = "previousNetIncome" >
        <input type = "text" appHoverField formControlName = "c2430" >
      </td >
    </tr >
    <tr formGroupName = "profitStatement" >
      <td class = "description-prop text" >Изменение отложенных налоговых активов</td >
      <td class = "code text bg" >2450</td >
      <td class = "current-rate text" formGroupName = "currentNetIncome" >
        <input type = "text" appHoverField formControlName = "code2450" >
      </td >
      <td class = "prev-rate text" formGroupName = "previousNetIncome" >
        <input type = "text" appHoverField formControlName = "c2450" >
      </td >
    </tr >
    <tr formGroupName = "profitStatement" >
      <td class = "description-prop text" >Прочее</td >
      <td class = "code text bg" >2460</td >
      <td class = "current-rate text" formGroupName = "currentNetIncome" >
        <input type = "text" appHoverField formControlName = "code2460" >
      </td >
      <td class = "prev-rate text" formGroupName = "previousNetIncome" >
        <input type = "text" appHoverField formControlName = "c2460" >
      </td >
    </tr >
    <tr >
      <td class = "description-prop text text-bold ital bg" >Чистая прибыль (убыток)</td >
      <td class = "code text text-bold bg" >2400</td >
      <td class = "current-rate text text-bold bg" >
        {{ summarizesResultSection( finForms.value.profitStatement.currentGrossProfit,
        finForms.value.profitStatement.currentSalesRevenue, finForms.value.profitStatement.currentProfitBeforeTax, finForms.value.profitStatement.currentNetIncome ) }}
      </td >
      <td class = "prev-rate text text-bold bg" >
        {{ summarizesResultSection( finForms.value.profitStatement.previousGrossProfit,
        finForms.value.profitStatement.previousSalesRevenue, finForms.value.profitStatement.previousProfitBeforeTax, finForms.value.profitStatement.previousNetIncome ) }}
      </td >
    </tr >
    </tbody >
  </table >
</div >
